@font-face {
    font-family: Impacted;
    src: url(Impacted2.0.ttf);
    font-weight:400;
}

@font-face {
    font-family: Chinese;
    src: url(chinese_rock.ttf);
    font-weight:400;
}



body {
    margin: 0;
    width: 750px;
    background-image: url("body01.jpg");
    background-position: center;

}

#divtitle {
    height: 250px;
    background-image: url("header01.jpg");
    background-position: 42% 25% ;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    text-align: center;
    animation-name: appear;
    animation-duration: 5s;
}

#title {
    margin: 0px;
    font-family:"Impacted";
    font-size: 100px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.774);
    animation-name: appear;
    animation-duration: 5s;
}

@keyframes appear {
    from {opacity: 0;}
    to {background-color: 1;}
  }


footer {

    background-color: black;
}

#all {

    margin-left: 15px;
    margin-right: 15px;
}

.time {
    margin-top: 10%;
}

.images {

    height: 300px;
    max-width: 300px;
    position: absolute;

}

.fondtext {
    width: 350px;
    height: auto;
    margin-left: 37%;
    margin-right: 25%;
    border-radius: 15px;
    background-color: blanchedalmond;
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.356);
}

#pseudofond1, #pseudofond2 {
    width: 170px;
    height: auto;
    border-radius: 15px;
    background-color: blanchedalmond;
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.356);
    margin-left: 37%;
}

.bio {
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.names {
    font-family: Chinese;
    font-size: 35px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.596);
    margin-left: 37%;
}

.pseudos, .crews {
    /*margin-left: 37%;*/
    font-family: Chinese;
    text-align: center;

}

.primes {
    margin-left: 70%;
    font-family: Chinese;
    font-size: 30px;
    color: rgb(255, 234, 43);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.596);
}